body {
    font-family: Arial, sans-serif;
    background-color: #dbdbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.fibonacci-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #8c50ec;
    margin-bottom: 20px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #8c50ec;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7d00b3;
}

#error {
    color: #d32f2f;
    font-size: 1.2em;
    margin-top: 20px;
}
